
/* ______________Page title_______________ */

.page-title {
    background-image: url(../images/page-title.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 460px;
    background-attachment: fixed;
}
.title-item{
    text-align: center;
    position: relative;        
    margin-top: 15%;
}
.title-item h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 10px;
}
.title-item ul{
    margin: 0px;
    padding: 0px;
}
.title-item ul li {
    list-style-type: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.title-item ul li a {
    display: inline-block;
    color: #ffffff;
}
.title-item a:hover{
    color: #fa5f0b;
}
.title-item ul li span {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
}

/* ____________ Blog Details ____________  */

.blog-row{
    padding: 80px 0px 80px 0px ;
}
.blog-title{
    margin-bottom: 40px;
}
.blog-title h2{
    font-size: 36px;
    font-weight: 700;
}
.blog-title p{
    color: #fa5f0b;
    font-size: 18px;
    font-weight: 600;
}
.blog-image{
    margin-bottom: 40px;
}
.blog-content h3{
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0px 15px 0px;
}
.blog-content p{
    font-size: 18px;
}
